body {
  font: 'Menlo';
}
#canvas {
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
}
.buttonContainer {
  margin-top: 5%;
  width:300px;
  position: relative;
}
.click-me {
  color: blueviolet; 
}


#keyboard {
  display:none;
}
.virtual-controls {
  height:60px; 
  width:350px; 
  offset-distance: 15px;
  display:inline-block;
}
  .keybutton {
  background-color: transparent;
  height:50px;
  line-height:50px;
  width:100px;
  margin-left:5px;
  margin-bottom:5px;
  text-align:center;
  vertical-align:middle;
  border:1px solid black;
  float:left;
}