body {
  font: 'Menlo';

    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

#canvas {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.buttonContainer {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15%;
  width:300px;
  position: relative;
}
.click-me {
  color: blueviolet; 
}
#keyboard {
  display:none;
}
.virtual-controls {
  height:60px; 
  width:350px; 
  offset-distance: 15px;
  display:inline-block;
}
  .keybutton {
  background-color: transparent;
  height:50px;
  line-height:50px;
  width:100px;
  margin-left:5px;
  margin-bottom:5px;
  text-align:center;
  vertical-align:middle;
  border:1px solid black;
  float:left;
}

.footer {
  margin-top: auto;
  position: float;
  max-height:25%;
  max-width: 100%;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: black;
}